html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
#main{
    width: 100%;
    height: 100%;
    display: flex;

}
#left{
    width: 100%;
    height: 600px;
    margin: 50px 100px;
    position: relative;
}
#right{
    width: 100%;
    height: 600px;
    margin: 60px 150px ;
}
#top{
    width: 100%;
    
}
#top h2{
    font-size: 120px;
    font-weight: 250;
    font-family: sans-serif;
    margin: 10px 29px;
    opacity: 0.75;
    line-height: 120px;
}
#bottom{
    width: 100%;
    height: 50%;   
    margin-top: 60px;
}
#colors{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 110px;
    gap: 3px;
    width: fit-content;
    padding: 3px 12px;
    border: 1.6px solid black;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 15px;
}
.point{
    width: 10px;
    height: 10.4px;
    background-color: brown;
    border-radius: 50%;
}
.point2{
    width: 10px;
    height: 10.4px;
    background-color: black;
    border-radius: 50%;
}
#detail{
    font-family: sans-serif;
    width: fit-content;
    margin-top: 35px;
    margin-left: 42px;
    font-size: 20px;
    font-weight: 700;
}
#detail2{
    margin-left: 42px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 500;
    width: 400px;
}
#topRight{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    font-family: sans-serif;
}
#dollor{
    font-size: 20px;
    font-weight: 600;
}
#image{
    width: 100%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1693252886111-7b9f89b92903?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dmVydGljYWwlMjAlMjB3YWxscGFwZXIlMjBicmlnaHR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}
#circle{
    padding: 25px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7%;
    top: 35%;
}
#circle h1{
    font-size: 11px;
    color: white;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cover{
    /* background-color: aqua; */
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 35%;
    left: 48%;
    top: 80%;
    rotate: -90deg;
    font-family: sans-serif;
}
#cover h2{
    font-size: 25px;
    font-weight: 700;
}